@{
    List<UWT.Templates.Models.Basics.UrlTitleIdModel> list = new List<UWT.Templates.Models.Basics.UrlTitleIdModel>()
    {
        new UWT.Templates.Models.Basics.UrlTitleIdModel()
        {
            Title = "123",
            Url = "/BBS/Area/1"
        }
    };
    var topicList = new List<UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel>()
    {
        new UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel()
        {
            Title = "哈哈",
            CommitCount = 10,
            VisitorCount = 20,
            Category = UWT.Libs.BBS.Areas.BBS.Models.TopicCate.question,
            CreateTime = new DateTime(1999, 10, 20),
            UserInfo = new UWT.Templates.Models.Basics.IconNameIdModel()
            {
                Id = 1,
                Name = "123123",
                Icon = "/admins/images/header.jpg"
            },
            LastCommitInfo = new UWT.Libs.BBS.Areas.BBS.Models.LastCommitInfo()
            {
                Name = "123123",
                Time = DateTime.Now
            },
            TopLevel = 2
        },
        new UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel()
        {
            Title = "哈哈",
            Category = UWT.Libs.BBS.Areas.BBS.Models.TopicCate.vote,
            CommitCount = 10,
            VisitorCount = 20,
            CreateTime = new DateTime(1999, 10, 20),
            UserInfo = new UWT.Templates.Models.Basics.IconNameIdModel()
            {
                Id = 1,
                Name = "123123",
                Icon = "/admins/images/header.jpg"
            },
            LastCommitInfo = new UWT.Libs.BBS.Areas.BBS.Models.LastCommitInfo()
            {
                Name = "123123",
                Time = DateTime.Now
            },
            IsHot = true
        },
        new UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel()
        {
            Title = "哈哈",
            CommitCount = 10,
            VisitorCount = 1000,
            CreateTime = new DateTime(1999, 10, 20),
            UserInfo = new UWT.Templates.Models.Basics.IconNameIdModel()
            {
                Id = 1,
                Name = "123123",
                Icon = "/admins/images/header.jpg"
            }
        }
    };
    var areaInfo = ViewBag.AreaInfo as UWT.Libs.BBS.Areas.Forums.Models.Areas.AreaModel;
    bool isPostdate = ViewBag.IsPostDate;
}
<div class="full_screen main_wrap">
    <crumb crumb-list="list"></crumb>
    <div class="bbs-border">
        <div class="forum-info">
            <div class="name">
                @areaInfo.Title
            </div>
            <div class="num">
                <div class="comment">@areaInfo.CommentCount</div>
                <div class="topic">@areaInfo.TopicCount</div>
            </div>
        </div>

        <area-group area-info="areaInfo" show-category="List" hide-me="true"></area-group>

        <div class="content-nav">
            <div class="filter">
                <a href="/BBS/Area/@areaInfo.Id" class=""></a>
            </div>
            <div class="order">
                <a href="/BBS/Area/@areaInfo.Id?order=postdate" class="postdate @(isPostdate?"current":"")"></a><a href="/BBS/Area/@areaInfo.Id" class="comment @(isPostdate?"":"current")"></a>
            </div>
        </div>
        <div class="topic-list-border">
            @{
                UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel last = null;
                foreach (var item in topicList)
                {
                    if (last != null && last.TopLevel != 0 && item.TopLevel == 0)
                    {
                        <div class="normal-topic-block-line"></div>
                    }
                    last = item;
                    @Html.Partial("_PartialTopicListItem", item)
                }
            }

            @Html.Partial("_PartialPageSelector", (UWT.Templates.Models.Interfaces.IPageSelectorModel)ViewBag.PageSelector)
        </div>
    </div>
    <button class="post-btn">发贴</button>
</div>
