@using UWT.Templates.Services.Extends
@{
    List<UWT.Libs.BBS.Areas.BBS.Models.TopicItemModel> topicList = ViewBag.TopicList;
    Dictionary<int, UWT.Libs.BBS.Areas.Forums.Models.Users.UserSimpleInfo> userMap = ViewBag.UserInfoMap;
    List<UWT.Templates.Models.Basics.UrlTitleIdModel> list = ViewBag.CrumbList;
}


<div class="full_screen main_wrap">
    <crumb crumb-list="list"></crumb>
    <button class="goto-list" data-url="/bbs/area/@ViewBag.AreaId "></button>
    @foreach (var item in topicList)
    {
        var userinfo = userMap[item.UserId];
        <div class="topic-main topic-@item.Id">
            <div class="user">
                <div>
                    <div class="avatar">
                        <img src="@userinfo.Avatar" class="user-show" data-uid="@userinfo.Id"/>
                    </div>
                    <div class="username user-show" data-uid="@userinfo.Id">
                        @userinfo.NickName
                    </div>
                    <div class="role">
                        @userinfo.LevelName
                    </div>
                    <div class="properties">
                        <div class="uid">
                            @userinfo.Id
                        </div>
                        <div class="fans">
                            @userinfo.FansCnt
                        </div>
                        <div class="follow">
                            @userinfo.FollowCnt
                        </div>
                        <div class="cnt">
                            @userinfo.TopicCnt
                        </div>
                    </div>
                </div>
            </div>
            <div class="show">
                @if (item.FlowIndex == 0)
                {
                    <div class="title">
                        <div class="post">
                            <div class="readed">@ViewBag.VisitorCount</div>
                            <div class="back">@ViewBag.CommitCount</div>
                        </div>
                        <h1>@ViewBag.Title</h1>
                    </div>
                }
                <div class="info">
                    <div class="post-time" title="@item.PostTime.ToShowText()">@item.PostTime.ToShowLatestText()</div>
                    <div class="floor floor-@item.FlowIndex">
                        @if (item.FlowIndex > 3)
                        {
                            <span>@item.FlowIndex</span>
                        }
                    </div>
                </div>
                <div class="content">
                    @Html.Raw(item.Content)
                </div>
            </div>
        </div>
    }
    <button class="goto-list" data-url="/bbs/area/@ViewBag.AreaId"></button>
</div>
