@using UWT.Templates.Services.Extends
@{
    List<UWT.Libs.BBS.Areas.BBS.Models.TopicItemModel> topicList = ViewBag.TopicList;
    Dictionary<int, UWT.Libs.BBS.Areas.BBS.Models.UserInfoModel> userMap = ViewBag.UserInfoMap;
    topicList = new List<UWT.Libs.BBS.Areas.BBS.Models.TopicItemModel>()
    {
        new UWT.Libs.BBS.Areas.BBS.Models.TopicItemModel()
        {
            PostTime = DateTime.Now,
            Id = 10,
            UserId = 10,
            FlowIndex = 0,
            Content = "<div>名</div>"
        }
    };
    userMap = new Dictionary<int, UWT.Libs.BBS.Areas.BBS.Models.UserInfoModel>()
    {
        [10] = new UWT.Libs.BBS.Areas.BBS.Models.UserInfoModel()
        {
            FansCnt = 10,
            Name = "123",
            RoleName = "会员",
            FollowCnt = 10,
            Icon = "/admins/images/header.jpg"
        }
    };
    UWT.Libs.BBS.Areas.BBS.Models.TopicInfoModel topic = new UWT.Libs.BBS.Areas.BBS.Models.TopicInfoModel()
    {
        Title = "这里是标题",
        CommitCount = 20,
        VisitorCount = 19,
        TopLevel = 0,
        IsHot = true
    };
    ViewBag.Title = topic.Title;
    List<UWT.Templates.Models.Basics.UrlTitleIdModel> list = new List<UWT.Templates.Models.Basics.UrlTitleIdModel>()
    {
        new UWT.Templates.Models.Basics.UrlTitleIdModel()
        {
            Title = "123",
            Url = "/BBS/Area/1"
        }
    };
}


<div class="full_screen">
    <crumb crumb-list="list"></crumb>
    <button class="goto-list" data-url="/bbs/area/1"></button>
    @foreach (var item in topicList)
    {
        var userinfo = userMap[item.UserId];
        <div class="topic-main topic-@item.Id">
            <div class="user">
                <div>
                    <div class="avatar">
                        <img src="@userinfo.Icon" />
                    </div>
                    <div class="username">
                        @userinfo.Name
                    </div>
                    <div class="role">
                        @userinfo.RoleName
                    </div>
                    <div class="properties">
                        <div class="uid">
                            @userinfo.Id
                        </div>
                        <div class="fans">
                            @userinfo.FansCnt
                        </div>
                        <div class="follow">
                            @userinfo.FollowCnt
                        </div>
                        <div class="cnt">
                            @userinfo.TopicCnt
                        </div>
                    </div>
                </div>
            </div>
            <div class="show">
                @if (item.FlowIndex == 0)
                {
                    <div class="title">
                        <div class="post">
                            <div class="readed">
                                @topic.VisitorCount
                            </div>
                            <div class="back">
                                @topic.CommitCount
                            </div>
                        </div>
                        <h1>@topic.Title</h1>
                    </div>
                }
                <div class="info">
                    <div class="post-time" title="@item.PostTime.ToShowText()">
                        @item.PostTime.ToShowLatestText()
                    </div>
                    <div class="floor floor-@item.FlowIndex">
                        @if (item.FlowIndex > 3)
                        {
                            <span>@item.FlowIndex</span>
                        }
                    </div>
                </div>
                <div class="content">
                    @Html.Raw(item.Content)
                </div>
            </div>
        </div>
    }
    <button class="goto-list" data-url="/bbs/area/1"></button>
</div>
