@model UWT.Templates.Models.Templates.TagHelpers.TagHelperDataModel<UWT.Templates.Models.Interfaces.IPageSelectorModel>
@using UWT.Templates.Services.Extends
@if (Model.DataModel == null)
{
}
else if (Model.DataModel.UrlBase != null)
{
<div class="page-right">
    <div class="page">
        <div>
            <span class="border-none">
                显示 @(Model.DataModel.PageIndex * Model.DataModel.PageSize + 1) 到 @(Model.DataModel.PageIndex * Model.DataModel.PageSize + Model.DataModel.CurrentPageCount) 共 @Model.DataModel.ItemTotal 条
            </span>
            @{
                if (Model.DataModel.IsFirstPage())
                {
                    <span class="prev">&lt;&lt;</span>
                }
                else
                {
                    <a class="prev" href="@(Model.DataModel.UrlBase + (Model.DataModel.PageIndex-1))">&lt;&lt;</a>
                }
                var range = Model.DataModel.GetRenderRange();
                for (int i = range.Min; i < range.Max; i++)
                {
                    if (i == Model.DataModel.PageIndex)
                    {
                        <span class="current">@(i + 1)</span>
                    }
                    else
                    {
                        <a href="@(Model.DataModel.UrlBase+i)">@(i + 1)</a>
                    }
                }
                if (Model.DataModel.IsLastPage())
                {
                    <span class="next">&gt;&gt;</span>
                }
                else
                {
                    <a class="next" href="@(Model.DataModel.UrlBase+(Model.DataModel.PageIndex+1))">&gt;&gt;</a>
                }
            }
        </div>
    </div>
</div>
<div class="clear-both"></div>
}
