@using UWT.Templates.Services.Extends
@addTagHelper *, UWT.Templates
@{
    var rPath = this.GetResourcePath();
    var layoutModel = this.GetCurrentLayoutModel();
    UWT.Templates.Models.Templates.TagHelpers.TagHelperTemplateModel tm = new UWT.Templates.Models.Templates.TagHelpers.TagHelperTemplateModel();
    var urlCrumbList = new List<UWT.Templates.Models.Basics.IconUrlTitleIdModel>();
    var upload = this.GetFileManagerOptional();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@string.Format(layoutModel.TitleFormat, ViewBag.Title ?? "未命名")</title>
    <link rel="stylesheet" href="@rPath/admins/css/font.css" />
    <link rel="stylesheet" href="@rPath/admins/css/xadmin.css" />
    @this.RenderTheme()
    @this.RenderAppendCSS()
    <script src="@rPath/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="@rPath/admins/js/xadmin.js"></script>
    @if (!string.IsNullOrEmpty(layoutModel.Icon))
    {
        <link rel="icon" href="@layoutModel.Icon" />
    }
    @RenderSection("CSS", false)
</head>
<body class="index" data-fupload="@upload.UploadApi"
      data-ffileparamter="@upload.FilterFileNameParamter"
      data-ffiletype="@upload.FilterFileTypeParamter"
      data-ffilelist="@upload.GetFileListApi">
    <div class="container">
        <div class="logo">
            <a href="@layoutModel.HomePageUrl">
                @layoutModel.MainTitle
                @if (!string.IsNullOrEmpty(layoutModel.SubTitle))
                {
                    <span>@layoutModel.SubTitle</span>
                }
            </a>
        </div>
        <div class="left_open">
            <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    @if (!string.IsNullOrEmpty(layoutModel.Avatar))
                    {
                        <img src="@layoutModel.Avatar" alt="头像" style="height: 24px; width: 24px;"/>
                    }
                    @layoutModel.NickName
                </a>
                @if (layoutModel.UserPopupMenuItems != null && layoutModel.UserPopupMenuItems.Count != 0)
                {
                    <dl class="layui-nav-child">
                        @foreach (var item in layoutModel.UserPopupMenuItems)
                        {
                            if (item == null)
                            {
                                <dd><hr /></dd>
                                continue;
                            }
                            <dd>
                                <a href="@item.Url">
                                    @if (!string.IsNullOrEmpty(item.Icon))
                                    {
                                        <i class="iconfont">@Html.Raw(item.Icon)</i>
                                    }
                                    <cite>@item.Title</cite>
                                    @if (item.RedPoint != null)
                                    {
                                        <span class='x-red-point'>@item.RedPoint</span>;
                                    }
                                </a>
                            </dd>
                        }
                    </dl>
                }
            </li>
        </ul>
    </div>
    <div class="left-nav">
        <MenuGroup menu-group="layoutModel.MenuGroup" template-model="tm" breadcrumb-list="urlCrumbList"></MenuGroup>
    </div>
    <div class="page-content">
        <breadcrumb layout="layoutModel" list="urlCrumbList"></breadcrumb>
        <div class="layui-fluid uwt-content">
            @RenderBody()
        </div>
    </div>
    @if (!string.IsNullOrEmpty(layoutModel.PeriodOfValidity))
    {
        <div class="layui-footer footer">
            <p style="line-height: 40px;margin-left: 40px;">© @layoutModel.PeriodOfValidity @layoutModel.CompanyName</p>
        </div>
    }
    @this.RenderAppendJS()
    @RenderSection("BodyAppend", false)
    @RenderSection("Scripts", false)
</body>
</html>
