@{
    var rPath =
#if DEBUG
"/_content/UWT.Libs.BBS"
#else
""
#endif
;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link-less href="@rPath/bbs/forum.less" is-server-mode="false"/>
    @foreach (string item in ViewBag.ThemeCssList)
    {
        <link href="@item" rel="stylesheet" />
    }
    @RenderSection("CSS", false)
    <title>@(string.Format(BBSEx.BbsConfigModel.Titles.MainFormat, ViewBag.Title ?? ""))</title>
    
</head>
<body class="@(ViewData.ContainsKey("body-class") ? (string)ViewData["body-class"] : "")">
    <div>
        <header>
            <div class="full_screen">
                <div class="header cc">
                    <div class="logo">
                        <a href="/BBS">
                            @if (string.IsNullOrEmpty(BBSEx.BbsConfigModel.Logo))
                            {
                                <span>@BBSEx.BbsConfigModel.ForumName</span>
                            }
                            else
                            {
                                <img src="@BBSEx.BbsConfigModel.Logo" alt="logo" />
                            }
                        </a>
                    </div>
                    <div class="nav">
                        @{ 
                            string currentUrl = Context.Request.Path + Context.Request.QueryString.ToString();
                            System.Text.StringBuilder sb = new System.Text.StringBuilder();
                            bool hasCurrent = false;
                            foreach (var item in BBSEx.BbsConfigModel.HeaderLinkList)
                            {
                                if (item.Regex == null)
                                {
                                    sb.AppendFormat("<a href=\"{0}\" class=\"want-current white\">{1}</a>", item.Url, item.Title);
                                }
                                else
                                {
                                    bool regex = System.Text.RegularExpressions.Regex.IsMatch(currentUrl, item.Regex, System.Text.RegularExpressions.RegexOptions.IgnoreCase);
                                    if (regex)
                                    {
                                        hasCurrent = true;
                                    }
                                    sb.AppendFormat("<a href=\"{0}\" class=\"{2} white\">{1}</a>", item.Url, item.Title, regex ? "current" : "");
                                }
                            }
                            string urlList = sb.ToString();
                            if (!hasCurrent)
                            {
                                urlList = urlList.Replace("want-current", "current");
                            }
                            @Html.Raw(urlList)
                        }
                    </div>
                    <div class="header_search">
                        <input type="text" id="search_text" class="search_text empty" value=""/>
                    </div>
                    <div class="user-profile">
                        <a href="/bbs/account/register" class="white register"></a>
                        <a href="/bbs/account/login" class="white login"></a>
                    </div>                
                </div>
            </div>
        </header>

        @RenderBody()


        <footer>
            <div class="full_screen">
                <div class="line"></div>
                <div class="center">
                    <div>
                        <div class="info">
                            <a class="gray" href="/bbs">@BBSEx.BbsConfigModel.ForumName</a>
                            <span class="beian"><a class="gray" href="//beian.miit.gov.cn/">@BBSEx.BbsConfigModel.BeianCode</a></span>
                        </div>
                        <div class="desc"></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/admins/js/common.js"></script>
    <script src="//libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="@rPath/bbs/forum.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>



