@model UWT.Libs.BBS.Areas.Forums.Models.Users.UserSimpleInfo

<div class="profile">
    <div class="avatar">
        <img src="@Model.Avatar" alt="头像" />
    </div>
    <div class="username">@Model.NickName</div>
    <div class="handles">
        <button class="follow"></button>
        <button class="call"></button>
    </div>
    <div class="infos">
        <div class="follow">@Model.FollowCnt</div>
        <div class="fans">@Model.FansCnt</div>
        <div class="topic">@Model.TopicCnt</div>
    </div>
</div>