@model UWT.Templates.Models.Interfaces.IPageSelectorModel
@using UWT.Templates.Services.Extends
@{
    string urlFormat = Model.UrlBase + "pageSize=" + Model.PageSize + "&pageIndex=";
    bool isFirstPage = Model.IsFirstPage();
    int pageCount = Model.GetPageCount();
    bool isLastPage = Model.IsLastPage();
    UWT.Templates.Models.Interfaces.Range<int> range = Model.GetRenderRange();
}

<div class="page-selector" data-href-base="@urlFormat">
    @if (isFirstPage)
    {
        <button class="unhandle page-home"></button>
        <button class="unhandle page-prev"></button>
    }
    else
    {
        <button class="page-home" data-pi="0"></button>
        <button class="page-prev" data-pi="@(Model.PageIndex - 1)"></button>
    }

    @for (int i = range.Min; i < range.Max; i++)
    {
        <button data-pi="@i" @(Model.PageIndex == i ? "class=current" : "")>@(i+1)</button>
    }

    @if (isLastPage)
    {
        <button class="unhandle page-next"></button>
        <button class="unhandle page-last"></button>
    }
    else
    {
        <button class="page-next" data-pi="@(Model.PageIndex + 1)"></button>
        <button class="page-last" data-pi="@(Model.PageSize - 1)"></button>
    }
</div>