@using UWT.Templates.Services.Extends
@model UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel

@{
}


<div class="topic-item">
    <div class="head">
        <img src="@Model.UserInfo.Icon" alt="at" />
    </div>
    <div class="body">
        <div class="line">
            <div class="cate">
                <a href="/BBS/Area/Topic?id=@Model.Id" class="@(Model.TopLevel != 0 ? "top" : (Model.IsHot ? "hot" : "normal"))" target="_blank"
                   title="@(Model.TopLevel != 0 ? $"置顶{Model.TopLevel}" : (Model.IsHot ? "热门" : "普通")) 新窗口打开">@(Model.TopLevel != 0 ? Model.TopLevel.ToString() : "")</a>
            </div>
            <div class="title"><a href="/BBS/Area/Topic?id=@Model.Id">@Model.Title</a></div>
        </div>
        <div class="line gray">
            <div>楼主：</div>
            <div><a href="@Model.UserInfo.Icon">@Model.UserInfo.Name</a></div>
            <div>@Model.CreateTime.ToShowLatestText()</div>
            @if (Model.LastCommitInfo != null)
            {
                <div>最后回复：</div>
                <div><a href="/">@Model.LastCommitInfo.Name</a></div>
                <div><a href="@Model.LastCommitInfo.Url">@Model.LastCommitInfo.Time.ToShowLatestText()</a></div>
            }
        </div>
    </div>
    <div class="visit">
        <div>@Model.VisitorCount</div>
    </div>
    <div class="commit">
        <div>@Model.CommitCount</div>
    </div>
</div>