@using UWT.Templates.Services.Extends
@model UWT.Libs.BBS.Areas.BBS.Models.TopicListItemModel

@{
}


<div class="topic-item">
    <div class="head">
        <img src="@Model.UserInfo.Icon" class="user-show" alt="at" data-uid="@Model.UserInfo.Id" />
    </div>
    <div class="body">
        <div class="line">
            <div class="cate">
                <a href="/BBS/Area/Topic?id=@Model.Id" class="@(Model.TopLevel != 0 ? ("top top-" + (Model.TopLevel != 0 ? Model.TopLevel.ToString() : "")) : (Model.IsHot ? "hot" : "normal"))" target="_blank"
                   title="@(Model.TopLevel != 0 ? $"置顶{Model.TopLevel}" : (Model.IsHot ? "热门" : "普通")) 新窗口打开"></a>
            </div>
            <div class="title">@if (Model.Category != UWT.Libs.BBS.Areas.BBS.Models.TopicCate.discuss) { <span class="@Model.Category"></span> }<a href="/BBS/Area/Topic?id=@Model.Id">@Model.Title</a></div>
        </div>
        <div class="line gray">
            <div>楼主：</div>
            <div class="user-show" data-uid="@Model.UserInfo.Id"><a class="light" href="@Model.UserInfo.Icon">@Model.UserInfo.Name</a></div>
            <div>@Model.CreateTime.ToShowLatestText()</div>
            @if (Model.LastCommitInfo != null)
            {
                <div>最后回复：</div>
                <div><a class="user-show light" data-uid="@Model.LastCommitInfo.Id" href="/">@Model.LastCommitInfo.Name</a></div>
                <div><a class="light" href="@Model.LastCommitInfo.Url">@Model.LastCommitInfo.Time.ToShowLatestText()</a></div>
            }
        </div>
    </div>
    <div class="visit">
        <div>@(Model.VisitorCount >= 1000?"999+":Model.VisitorCount.ToString())</div>
    </div>
    <div class="commit">
        <div>@(Model.CommitCount >= 1000?"999+":Model.CommitCount.ToString())</div>
    </div>
</div>